<header>
  <nav class="navbar navbar-dark navbar-expand-lg" >
    <div class="container-fluid w-75">
      <div class="navbar-brand">
        &nbsp; METT<strong>ACADEMY</strong> Attendance
      </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-content"><span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar-content">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link active" href="/">Home</a>
          </li>
          <li class="nav-item dropdown">
            <div class="nav-link dropdown-toggle active" data-bs-toggle="dropdown" data-bs-target="#signin-dropdown">Sign-in</div>
            <ul class="dropdown-menu" id="signin-dropdown" style="background-color: white;">
              <li>
                <a class="dropdown-item text-black" href="/signIO/signin/student">Student Sign-in</a>
              </li>
              <li>
                <a class="dropdown-item text-black" href="/signIO/signin/staff">Staff Sign-in</a>
              </li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <div class="nav-link dropdown-toggle active" data-bs-toggle="dropdown" data-bs-target="#signout-dropdown">Sign-out</div>
            <ul class="dropdown-menu" id="signout-dropdown">
              <li>
                <a class="dropdown-item text-black" href="/signIO/signout/student">Student Sign-out</a>
              </li>
              <li>
                <a class="dropdown-item text-black" href="/signIO/signout/staff">Staff Sign-out</a>
              </li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <div class="nav-link dropdown-toggle active" data-bs-toggle="dropdown" data-bs-target="#attendance-dropdown">Overall Attendance</div>
            <ul class="dropdown-menu" id="attendance-dropdown">
              <li>
                <a class="dropdown-item text-black" href="/overallStatus/student">Student Attendance</a>
              </li>
              <li>
                <a class="dropdown-item text-black" href="/overallStatus/staff">Staff Attendance</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
                              
</header>